extends layout
block content
  form(action='/users/login' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    input(type='text' name='email' placeholder='email')
    input(type='password' name='password' placeholder='password')
    button(type='submit') Login